body {
    margin-top: 5rem;
    text-align: center;
}


#task-form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 25px;
}


.task-status {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.task-filter {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
